<HEAD>
<TITLE>Basic HTML Sample Page</TITLE>
</HEAD>
<BODY BGCOLOR="WHITE">

<H1>A Simple Sample Web Page</H1>

<IMG SRC="https://www.sheldonbrown.com/images/scb_eagle_contact.jpeg">

<div id="container-1">

  <div class="info">
    <H4>By Sheldon Brown</H4>
    <H2>Demonstrating a few HTML features</H2>
  </div>

  <div class="info">
    <H3>Line Breaks</H3>
  </div>

</div>
<span class="info">HTML doesn't normally use line breaks for ordinary text. A white space of any size is treated as a single space. This is because the author of the page has no way of knowing the size of the reader's screen, or what size type they will have their browser set for.<P>
If you want to put a line break at a particular place, you can use the "<BR>" command, or, for a paragraph break, the "<P>" command, which will insert a blank line. The heading command ("<4></4>") puts a blank line above and below the heading text.
</span>

<div id = "info_div" class="info2">

<H4>Starting and Stopping Commands</H4>
Most HTML commands come in pairs: for example, "<H4>" marks the beginning of a size 4 heading, and "</H4>" marks the end of it. The closing command is always the same as the opening command, except for the addition of the "/".<P>
Modifiers are sometimes included along with the basic command, inside the opening command's < >. The modifier does not need to be repeated in the closing command.
</div>

<div class="container">

<H1>This is a size "1" heading</H1>

<H2>This is a size "2" heading</H2>
</div>

<div class="container">
<H3>This is a size "3" heading</H3>

<H4>This is a size "4" heading</H4>

<H5>This is a size "5" heading</H5>

<H6>This is a size "6" heading</H6>

<H4>Copyright © 1997, by
<A HREF="https://www.sheldonbrown.com/index.html">Sheldon Brown</A>
</H4>
</div>
